@tailwind base;
@tailwind components;
@tailwind utilities;


.arrow-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.arrow {
  position: absolute;
  animation: moveUp 10s linear infinite;
  font-size: 24px; /* Adjust font size as needed */
  top: -50%
}

@keyframes moveUp {
  0% {
    top: 100%;
  }
  100% {
    top: -50%;
  }
}
